[submodule "mantle"]
	path = mantle
	url = https://github.com/coreos/mantle
[submodule "ostree-releng-scripts"]
	path = ostree-releng-scripts
	url = https://github.com/ostreedev/ostree-releng-scripts
[submodule "rpmdistro-gitoverlay"]
	path = rpmdistro-gitoverlay
	url = https://github.com/projectatomic/rpmdistro-gitoverlay
