sudo: required

language: sh

services:
  - docker

before_script:
  - docker pull docker.io/koalaman/shellcheck

script:
  # shellcheck validate
  - docker run -v "$PWD:/mnt:ro" docker.io/koalaman/shellcheck -x $(find . -path ./mantle -prune -and -path ./ostree-releng-scripts -prune -o -type f -exec grep -l '^#!.*bash' {} \;)

notifications:
  email: false
