name: lints

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main
      - rhcos-*

permissions:
  contents: read

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    container: registry.ci.openshift.org/coreos/fcos-buildroot:testing-devel
    steps:
      - name: Install deps
        run: yum -y install ShellCheck
      - name: Checkout repository
        uses: actions/checkout@v3
      - run: make shellcheck
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.1
          args: --timeout=5m
